
h1,
h2,
h3 {
  line-height: 100%;
  margin-bottom: 60px;
}
h1 {
  font-size: 77px;
}
h2 {
  font-size: 63px;
}
h3 {
  font-size: 49px;
}

ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  list-style-type: circle;
  line-height: 160%;
}

small {
  font-size: 80%;
}

big {
  font-size: 160%;
  line-height: 180%;
}

.middle-title {
  display: table;
  height: 100%;
}

.middle-title h1,
.middle-title h2,
.middle-title h3 {
  display: table-cell;
  font-weight: bold;
  line-height: 120%;
  vertical-align: middle;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#ecossistema {
  overflow: hidden;
}
.img-spacing img {
  margin: 0 20px 10px;
}

.fadeout {
  position: relative;
}

.fadeout::after {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
  bottom: 0;
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: 100px;
}

.icon {
  background: center left no-repeat;
  background-size: auto 80%;
  display: inline-block;
  padding-left: 40px;
}

big .icon {
  padding-left: 80px;
}

.backbone {
  background-image: url('img/backbone-icon.png');
}
.drupal {
  background-image: url('img/druplicon.png');
}
.feed {
  background-image: url('img/feed.png');
}
.chuva {
  background-image: url('img/chuva.png');
  background-position: center center;
  padding-left: 130px;
  line-height: 205%;
  vertical-align: middle;
  text-indent: -99999px;
}
